

@{
    ViewData["Title"] = "Privacy Policy";
}


<!DOCTYPE html>
<html>
<head>
    <title>Sertifika Örneği</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="~/Content/AdminTemplate/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/css/all.min.css" rel="stylesheet" />
        <div class="form-group mt-4">
            <button type="button" class="btn btn-primary">Kayıt Et</button>
            <a href="javascript:window.print()" class="btn btn-default"><i class="fas fa-print"></i>Yazdır</a>

        </div>
    <style>
        .certificate-content {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="panel-body">
    <div class="text-center">
        <h1><b>SAU ARge</b></h1>
    </div>
    <div class="text-center">
        <img src="~/Content/AdminTemplate/img/DawnCambridge.PNG" height="200" width="220" />
    </div>
    <div class="text-center">
        <p>Afghan Colony Peshawar. Cell: 0321-9113267</p>
    </div>
    <div class="text-center">
        <p>Affiliated With B.I.S.E. Peshawar.</p>
    </div>
    <div class="text-center">
        <h2><b> CERTIFICATE</b></h2>
    </div>
    <br/>
    <span class="pull-left"><b>s.No:</b></span>
    <br/><br/>
    <div>
        <span class="pull-left"><b>Adm.#: </b></span>
        <span class="pull-right"><b>Date: </b></span>
        <div class="clearfix"></div>
    </div>
    <div>
        Certificate That
        <span><b>Mr/Miss. </b></span>
        <span><b>Miss. </b></span>
        <span>son</span>/<span>daughter</span> of <b></b> and attended this school up to 
        Has paid all the dues of the school and was allowed to withdraw his/her name on the above date.
        <span>He</span>/<span>She</span> was studying in <b>e</b> and passed/failed in the examination for promotion to .
        <br/>
        <b>Date of birth (in words): </b>
        <br/>
        <b>Date of birth (in figure): </b>
        <br/>
        <b>Conduct: </b>
        <br/>
        <div>
            <span class="pull-left">Signature of Principal</span>
            <span class="pull-right">Date</span>
        </div>
        <div class="clearfix"></div>
    </div>
      <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - iştakip - <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
</div>
</body>